
  .header {
    background-color: rgb(255, 255, 255);    
    color: black;
    display: flex;
    flex-direction: row; 
    justify-content:space-between; 
    align-items: center;
    width: 100%;
    padding: 20px 0;

  }


  .header a {

    color: rgb(249, 97, 97);
  }
.lien-nav {
    padding: 7px;
}

.lien-nav a{
    margin-left: 68px;
    font-size: 16px;
}


