.Banner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  margin-top: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 2px;
  background-size: cover;  
  background-position: center;
  height: 160px;
  width: 85%;
}

.parentbanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner_container {
  white-space: nowrap;
}

@media screen and (max-width: 425px) { 
  .Banner_container {
    white-space: normal;
    font-size: 18px;
    height: 120px;
    text-align: left;
    align-items: start;
  }
  .Banner_container p{
    margin-left: 15px;
  }
  .mobile-break {
    display: block;
  }
}

@media screen and (min-width: 426px) {
  .mobile-break {
    display: none;
  }
}

@media screen and (max-width: 530px) { 
  .Banner_container {
    font-size: 24px;
  }
}

@media screen and (min-width: 530px) and (max-width: 620px) { 
  .Banner_container {
    font-size: 28px;
  }
}

@media screen and (min-width: 620px) { 
  .Banner_container {
    font-size: 29px;
  }
}