.Banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Banner {
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgb(161, 230, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
    padding: 0px 20px;
    height: 150px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 7px 2px;

  }