.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 550px;
	position: relative;
}
.slider-img {
	position: absolute;
	width: 100%;
	height: 75%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
    border-radius: 20px;
}

.slider .arrow {
	position: absolute;
	width: 40px;
}
@media screen and (max-width: 600px) { 
	.slider .arrow {
		width: 25px;
	}
}

.slider .arrow_left {
	left: 10px;
}
.slider .arrow_right {
	right: 10px;
}


.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}
.dot {
	margin-inline: 5px;
	width: 13px;
	height: 13px;
	background-color: #ffffff00;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}
.dot_selected {
	background-color: #fff;
}

.slider-number{
    color: #ffffff;
position: absolute;

bottom: 50px;
}